@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
 }

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}
  
body {
   font-family: 'GothamPro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
