@import url('./layout/normalize.css');
@import url('./layout/fonts.css');
@import url('./layout/base.css');

@import url('./blocks/header.css');
@import url('./blocks/nav.css');
@import url('./pages/intro.css');
@import url('./pages/index.css');
@import url('./pages/comments-page.css');
@import url('./pages//prices-page.css');
@import url('./blocks/footer.css');