html, body {
    width: 100%;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.clearfix::after {
    display: block;
    content: "";
    clear: both;
  }
  
  .wrapper {
    min-height: 100%;
    overflow: hidden;
    min-width: 1100px;
  }

  .container {
    margin: 0 auto;
    width: 1050px;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  ul li {
    list-style: none;
  }