.header {
    background: #27273e;
    font-family: 'GothamPro', Arial, sans-serif;
    min-height: 72px;
  }  

.header {
  padding: 10px 0 0 0;
}

  .header__left,
  .header__right {
    width: 50%;
    float: left;
  }
  
  .contacts__phone {
    font-size: 21px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: right;
    font-weight: bold;
    font-style: normal;
    margin: 0 -2px 3px 0;
  }
  
  .contacts__desc {
    font-size: 14px;
    color: #c02169;
    display: block;
    text-align: right;
    font-weight: bold;
    font-style: normal;
  }
  
  .contacts__text {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .contacts__text:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #769dcd;
  }
  
  .contacts__desc {
    position: relative;
  }
  
  .contacts__dropdown {
    display: block;
    padding: 15px; 
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
    position: absolute;
    right: -9999px;
    top: 30px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);  
  }
  
  .contacts__text:hover + .contacts__dropdown {
    right: 0;
  }
  
  .contacts__dropdown::before {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    bottom: 100%;
    right: 3px;
  }
  
  .contacts__dropdown::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 100%;
    left: 0;
  }
  
  .contacts__schedule {
    display: block;
    border-bottom: none;
    text-align: left;
    margin-bottom: 6px;
    color: #ec1e79;
  }
  
  .contacts__schedule--lunch {
    color: #221f1f;
    font-weight: 300;
  }