.aside {
    float: left;
    width: 180px;
    padding-top: 7px;
  }
  
  .nav__link {
    font-family: 'GothamPro', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #ec1e79;
    text-decoration: none;
    letter-spacing: 1px;
  }
  
  .nav__text {
    text-transform: uppercase;
    margin-left: 13px;
  }
  
  .nav__item {
    margin-bottom: 30px;
  }
  
  .nav__link .nav__text:hover {
    color: #000000;
  }
  
  .nav__link--active .nav__text {
    color: #000000;
    border-bottom: 1px #d4d4d4 solid;
  }
  
  .nav__img, .nav__text {
    vertical-align: middle;
    display: inline-block;
  }
  
  .nav__img:hover + .nav__text {
    color: #000000;
    border-bottom: 1px #d4d4d4 solid;
  }
  
  .nav__img {
    background-image: url('../../img/icons/spritesheet.png');
      background-repeat: no-repeat; 
    display: inline-block;
  }
  
  .nav__img--main {
    width: 17px;
    height: 15px;
    background-position: -57px -47px;
  }
  
  .nav__link--active .nav__img--main {
    width: 17px;
    height: 15px;
    background-position: -30px -33px;
  }
  
  .nav__link:hover .nav__img--main {
    width: 17px;
    height: 15px;
    background-position: -30px -33px;
  }
  
  .nav__img--comments {
      width: 20px;
      height: 18px;
    background-position: -35px -5px;
  }
  
  .nav__link--active .nav__img--comments {
    width: 20px;
      height: 18px; 
      background-position: -5px -5px;
  }
  
  .nav__link:hover .nav__img--comments {
      width: 20px;
      height: 18px; 
      background-position: -5px -5px;
  }
  
  .nav__img--prices {
    width: 19px;
    height: 16px;
    background-position: -87px -31px;
  }
  
  .nav__link--active .nav__img--prices {
    width: 19px;
    height: 16px;
    background-position: -87px -5px;
  }
  
  .nav__link:hover .nav__img--prices {
    width: 19px;
    height: 16px;
    background-position: -87px -5px;
  }
  