.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jackInTheBox {
  animation-name: jackInTheBox;
}

.container--intro {
  background-image: url('../../img/pictures/intro.jpg');
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container--intro:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ec1e79;
  opacity: .15;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper--intro {
  min-height: 100%;
  overflow: hidden;
}

.intro {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro__photo {
  margin-bottom: 30px;
}

.intro__link {
  display: block;
  width: 185px;
  border-radius: 3px;
  color: #ec1e79;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'GothamPro', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 17px 17px;
  border: 4px #ec1e79 solid;
}

.intro__link:hover {
  background-color: #ec1e79;
  color: white;
}
